
textarea{
    height: 400px;
    width:350px;
    resize: none!important;
    border-radius: .25rem;
    border-width: 2px;
}
textarea, input {
    vertical-align: middle;
}
textarea:disabled{
    background:#fff;
}
.central{
    text-align: center;
    padding:0;
}
.convertir{
    margin:10px;
    font-weight: 900!important;
}
.instrucciones{
    margin: 1rem;
}
#listadoInicial{
    border-color:crimson;
}
#listadoFinal{
    border-color:#80bdff;
}
.copiar{
    margin: 5px;
    font-weight: 900!important;
}
